.title {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: row;
  height: 30em;
  padding-inline: max(50px, calc((100vw - 1200px)/2));
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
}

.title>.text {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.9s ease-in-out;
}

.title>.text.active {
  opacity: 100;
  transform: translateY(0px);
}

button {
  height: 3em;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  margin: none;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: Oswald;
}

button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: inherit;
}

.card3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: max(50px, calc((100vw - 1200px)/2));
  gap: 100px;
  padding-block: 30px;
}

.map-wrapper {
  flex: 1;
  box-sizing: border-box;
}

.card3 .text {
  flex: 1;
  box-sizing: border-box;
}

@media only screen and (max-width: 740px) {

  .card3 {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
  }

} 


