.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    gap: 15px;
    padding-top: 15px;
    padding-inline: calc((100vw - 1200px)/2);
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    max-width: 100%;
}

.footer-links * {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.7rem;
    color: white;
    padding-inline: 15px;
}

.footer-links *:hover {
    color: var(--primary-color);
}

.copywrite {
    opacity: 0.7;
    font-size: 0.6rem;
    color: white;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

