:root {
  --primary-color: #46a7a5;
  --secondary-color: #2b2b2b;
  --bg1: #f4f4f4;
}


g:hover path {
    fill: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.tooltip-below {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
}