:root {
  --primary-color: #46a7a5;
  --secondary-color: #2b2b2b;
  --bg1: #f4f4f4;
}


g:hover path {
    fill: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  justify-content: start;
  width: 100%;
}

.map-container svg {
  height: auto;
  width: 100%;
  flex-grow: 1;
}

.tooltip-below {
  flex-grow: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  height: 10px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}