.values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding-inline: max(50px, calc((100vw - 1200px)/2));
    padding-block: 50px;
    box-sizing: content-box;
}